### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
#phpunit
.phpunit.cache


Mockups/
vendor/
public/certified-assets/
Views/document_templates/certified_templates/
Views/document_templates/certifieds.php

*.png
*.jpg
*.svg
*.jpeg

.htaccessold
config/global.php

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### SUBLIME TEXT ###
*.sublime-project
*.sublime-workspace
.phpintel/