header.bg-white, header.bg-white .v-toolbar__content, #hero {
    background: #E4E3E1;
}

#container_1 {
    margin-top: -100px;
}

#slide_1_text h1, #slide_1_text h2, #slide_1_text h3, #slide-1 input , #slide-1 label {
    font-size: 20px;
}

.custom_carousel .theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #0976c2;
}

.custom_carousel .v-btn--icon.v-size--small {
    width: 18px;
    height: 18px;
}

.custom_carousel .v-btn--icon.v-size--small .v-icon {
    font-size: 9px !important;
}