.container{
	padding: 0;
}
.fl-append-outer{
	padding-top: 10px;
}
.v-data-footer .v-input__slot{
	padding: 0px !important;
}
.fl-text-input .v-input__slot, .ql-container.ql-snow{
	background-color: rgba(61, 2, 53, .1)  !important;
}
.quote-container{
	padding: 10vw 5vw;
}
.contact-container{
-webkit-box-shadow: -2px 15px 107px -15px rgba(0,0,0,0.16) !important;
-moz-box-shadow: -2px 15px 107px -15px rgba(0,0,0,0.16) !important;
box-shadow: -2px 15px 107px -15px rgba(0,0,0,0.16) !important;
}
.register-container{
	-webkit-box-shadow: -1px 41px 99px -24px rgba(61,2,53,0.14);
	-moz-box-shadow: -1px 41px 99px -24px rgba(61,2,53,0.14);
	box-shadow: -1px 41px 99px -24px rgba(61,2,53,0.14);
}
.ql-toolbar.ql-snow {
	border-radius: 20px 20px 0px 0px;
}
.ql-container.ql-snow {
	border-radius: 0px 0px 20px 20px;
}
.input-text-center input{
	text-align: center;
}
.ql-video{
	display:none !important;
}
.upload-button{
	font-size: .875rem;
}
#tel-input.vue-tel-input-vuetify .country-code{
	width:90px;
	margin-right: 15px;
}